body {
  margin: 0;
  height: 100%;
}
div {
  margin: 12px;
}

#high-score-board {
  display: none;
  width: 40%;
  margin: 10px auto 10px;
  color: maroon;
  font-size: 30px;
}
h3 {
  width: 40%;
  margin: 10px auto 10px;
  color: maroon;
}
#high-score-name {
  width: 40%;
  margin: 10px auto 10px;
  color: maroon;
}
#timer {
  display: flex;
  text-align: center;
  line-height: 50px;
}
#timer-icon {
  height: 50px;
  width: 50px;
  margin: 5px;
}
#timer-count {
  font-size: 45px;
  margin: 5px;
}

#quiz-body {
  height: 600px;
  margin: auto;
  width: 70%;
  padding: 10px;
  padding-top: 50px;
}
#quiz-q {
  display: flex;
  flex-direction: row;
  font-size: 60px;
  text-align: center;
}
#quiz-num {
  margin: 12px;
}

.btn {
  height: 60px;
  width: 80%;
  margin: 10px auto;
  background-color: maroon;
  color: white;
  font-size: 25px;
  display: block;
}

.btn-short {
  height: 60px;
  width: 40%;
  margin: 10px auto;
  background-color: maroon;
  color: white;
  font-size: 25px;
  display: block;
}
#high-score-btn {
  height: 67px;
  width: 143px;
  margin: 10px 5px;
  background-image: url("./Assets/high-score-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 13px;
  color: black;
  display: block;
}
.name-input {
  height: 60px;
  width: 40%;
  margin: 10px auto;
  font-size: 25px;
  display: block;
}

.final-result {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: maroon;
}
